* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Varela&display=swap");
body {
  background-color: #fff8ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-family: "Varela", sans-serif; */
  color: rgb(20, 20, 20);
  font-family: "Montserrat", sans-serif;
}
h1,
h2 {
  color: #dea54a;
}

section {
  width: 90%;
  height: 100vh;
  text-align: start;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
section h1 {
  text-align: start;
  font-size: 2.6rem;
  margin: 0.5rem;
}
section p {
  font-size: 1.2rem;
  margin: 0.5rem;
}
section button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #0e538c;
  color: #f9f9f9;
  transition: all 0.2s ease-in;
}
section button:hover {
  background-color: #0b4870;
}
.content {
  margin-left: 10rem;
  margin-bottom: 2rem;
}
/* .img-container {
  display: flex;
  align-items: flex-start;
  justify-content: start;
} */
img {
  margin-left: 0rem;
  height: 800px;
  margin-bottom: 2rem;
  /* margin-right: 2rem; */
}
main {
  padding-top: 2rem;
  width: 70%;
  margin-bottom: 1rem;
  height: 100vh;
  text-align: center;
}
main h2 {
  font-size: 2rem;
  padding: 0.5rem;
}
main p {
  margin: 1rem;
  font-size: 1.2rem;
  text-align: start;
}
.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.container button {
  font-size: 1.5rem;
  padding: 0.5rem 1.4rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #0e538c;
  color: #f9f9f9;
  transition: all 0.2s ease-in;
}
.container button:hover {
  background-color: #0b4870;
}
.container label {
  font-size: 1.6rem;
  color: #0b4870;
}
.container input {
  font-size: 1.3rem;
  padding: 0.7rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background-color: #ffbe55;
  color: #0b4870;
}
.output {
  margin-top: 1.2rem;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  color: #0e538c;
}
.output img {
  height: 100%;
}
.footer-para {
  text-align: center;
}
.footer-links {
  text-align: center;
  font-size: 1.8rem;
}
.fab {
  padding: 1rem 0.5rem 0rem 0.5rem;
  text-decoration: none;
  color: #0b4870;
}
footer {
  margin: 1rem 0rem 2rem 0rem;
  text-align: center;
  color: #0b4870;
}

@media screen and (min-width: 360px) and (max-width: 640px) {
  section img {
    display: none;
  }
  .content {
    margin-right: 10rem;
  }
}
